<!DOCTYPE html>
<!-- 
Theme: JANGO - Ultimate Multipurpose HTML Theme Built With Twitter Bootstrap 3.3.5
Version: 1.0.0
Author: Themehats
Site: http://www.themehats.com
Contact: support@themehats.com
Follow: www.twitter.com/themehats
-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>
        iMaQPress - 
        @if(title && title!='')
        {{title}}
        @else
        Introducing Innovations in Academic Publishing System
        @endif
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="/assets/plugins/revo-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/assets/base/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/assets/base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
    <link href="/assets/base/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/new_style.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <style>
        /* div.cke_dialog_background_cover {
            z-index: 99998 !important;
        }
        table.cke_dialog {
            z-index: 99999 !important;
        } */
    </style>
    {{{ extra_css }}}
</head>
<body class="c-layout-header-fixed c-layout-header-fullscreen c-layout-header-topbar">
    <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
    <!-- BEGIN: HEADER -->

    <header class="c-layout-header c-layout-header-3 c-layout-header-default-mobile">
        <div class="c-topbar">
            <div class="container">
                <!-- BEGIN: INLINE NAV -->
                <nav class="c-top-menu c-pull-left">
                    <ul class="c-icons ">
                        <li>
                            <a href="#"><i class="icon-social-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-social-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-social-dribbble"></i></a>
                        </li>
                        <li class="hide">
                            <span>Phone: +995574832309</span>
                        </li>
                    </ul>
                </nav>
                <!-- END: INLINE NAV -->
                <!-- BEGIN: INLINE NAV -->
                <nav class="c-top-menu c-pull-right">
                    <ul class="c-links ">

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li class="c-divider">
                            |
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>

                </nav>
                <!-- END: INLINE NAV -->
            </div>
        </div>
        <div class="c-navbar">
            <div class="container">
                <!-- BEGIN: BRAND -->
                <div class="c-navbar-wrapper clearfix">
                    <div class="c-brand c-pull-left">
                        <a href="/" class="c-logo">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-desktop-logo">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-desktop-logo-inverse">
                            <img src="/assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-mobile-logo">
                        </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
				<span class="c-line"></span>
				<span class="c-line"></span>
				<span class="c-line"></span>
				</button>
                        <button class="c-search-toggler" type="button">
				<i class="fa fa-search"></i>
				</button>
                    </div>
                    <!-- END: BRAND -->
                    <!-- BEGIN: QUICK SEARCH -->
                    <form class="c-quick-search" action="#">
                        <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                        <span class="c-theme-link">&times;</span>
                    </form>
                    <!-- END: QUICK SEARCH -->
                    <!-- BEGIN: HOR NAV -->
                    <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- BEGIN: MEGA MENU -->
                    <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                        <!-- BEGIN: MEGA MENU -->
                        <ul class="nav navbar-nav c-theme-nav">
                            <li class="c-menu-type-classic  c-active">
                                <a href="/" class="c-link dropdown-toggle">Home</a>

                            </li>
                            <li class="c-menu-type-classic">
                                <a href="#" class="c-link dropdown-toggle">About us</a>

                            </li>
                            <li class="c-menu-type-classic">
                                <a href="/journals" class="c-link dropdown-toggle">Journals</a>

                            </li>
                            <li class="c-menu-type-classic">
                                <a href="/partners" class="c-link">Partners</a>
                            </li>
                            <!--
                            <li class="c-menu-type-classic">
                                <a href="iMaQBlog.html" class="c-link dropdown-toggle">Blog</a>

                            </li>
                            -->
                            <li class="c-menu-type-classic">
                                <a href="#" class="c-link dropdown-toggle">Publish With Us</a>
                                <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                    <li>
                                        <a href="/journal_submission">Submit Journal</a>
                                    </li>
                                    <li>
                                        <a href="/artical_submission">Submit Article</a>
                                    </li>
                                    @if(false && (user && user.permissions['all'])||(user && user.permissions['submit_blog']))
                                    <li>
                                        <a href="Blogsubmission.html">Submit Blog</a>
                                    </li>
                                    @endif
                                </ul>
                            </li>
                            <li class="c-search-toggler-wrapper">
                                <a href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
                            </li>
                            <li>
                                @if(isLogged)
                                    <a href="/logout" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i> Sign Out</a>
                                @else
                                    <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-user"></i> Sign In</a>
                                @endif
                            </li>
                            @if(isLogged)
                            <li>
                                <a href="/admin"  class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold"><i class="icon-home"></i> &nbsp;Admin&nbsp;&nbsp; </a>
                            </li>
                            @endif
                        </ul>
                        <!-- END MEGA MENU -->
                    </nav>
                    <!-- END: MEGA MENU -->
                    <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                    <!-- END: HOR NAV -->
                </div>
            </div>
        </div>
    </header>
    <!-- END: HEADER -->
    <!-- END: LAYOUT/HEADERS/HEADER-1 -->
    <!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
    <div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content c-square">
                        <div class="modal-header c-no-border">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="c-font-24 c-font-sbold">Password Recovery</h3>
                            <p>
                                To recover your password please fill in your email address
                            </p>
                            <form method="post" action="forget">
                                <input type="hidden" name="_csrf" value="{{ csrf }}">
                                <div class="form-group">
                                    <label for="forget-email" class="hide">Email</label>
                                    <input type="email" class="form-control input-lg c-square" name="forget_email" id="forget-email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Submit</button>
                                    <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer c-no-border">
                            <span class="c-text-account">Don't Have An Account Yet ?</span>
                            <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
            <!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
            <div class="modal fade c-content-login-form" id="signup-form" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content c-square">
                        <div class="modal-header c-no-border">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="c-font-24 c-font-sbold">Create An Account</h3>
                            <p>
                                Please fill in below form to create an account with us to submit article
                            </p>
                            <form action="/signup" method="POST" id="signup-form" id="signup_frm">
                                <input type="hidden" name="_csrf" value="{{ csrf }}">
                                <div class="form-group">
                                    <label for="signup-email" class="hide">Email</label>
                                    <input name="email" type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Your email will be username">
                                </div>
                                <div class="form-group">
                                    <label for="signup-password" class="hide">Password</label>
                                    <input name="password" type="password" class="form-control input-lg c-square" id="signup-password" placeholder="Password should be alphanumeric + one symbol">
                                </div>
                                <div class="form-group">
                                    <label for="signup-firstname" class="hide">First Name</label>
                                    <input name="fname" type="text" class="form-control input-lg c-square" id="signup-firstname" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label for="signup-lastname" class="hide">Last Name</label>
                                    <input name="lname" type="text" class="form-control input-lg c-square" id="signup-lastname" placeholder="Last/Family Name">
                                </div>
                                <div class="form-group">
                                    <label for="signup-affiliation" class="hide">University/Institute</label>
                                    <input name="university_institute" type="text" class="form-control input-lg c-square" id="signup-affiliation" placeholder="Affiliation e.g. Harvard University">
                                </div>
                                <div class="form-group">
                                    <label for="signup-country" class="hide">Country</label>
                                    <select name="country_id" class="form-control input-lg c-square" id="signup-country">
                                        <option>Country</option>
                                        @each(county in country)
                                        <option value="{{ county.id }}">{{ county.COUNTRY_NAME }}</option>
                                        @endeach
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="keywords" class="hide">Keywords Camma Seperated</label>
                                    <textarea name="keywords" class="form-control input-lg c-square" id="keywords" placeholder="Keywords Camma Seperated"></textarea>
                                </div>
                                <div class="form-group">
                                    <button onclick="return preSignupCheck();" type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
                                    <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/USER/SIGNUP-FORM -->
            <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
            <div class="modal fade c-content-login-form" id="login-form" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content c-square">
                        <div class="modal-header c-no-border">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>
                            <p>
                                Let's make today a great day!
                            </p>
                            <form action="/login" method="POST" >
                                <input type="hidden" name="_csrf" value="{{ csrf }}">
                                <div class="form-group">
                                    <label for="login-email" class="hide">Email</label>
                                    <input type="email" name="email" class="form-control input-lg c-square" id="login-email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="login-password" class="hide">Password</label>
                                    <input type="password"  name="password" class="form-control input-lg c-square" id="login-password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="c-checkbox">
                                        <input type="checkbox" id="login-rememberme" class="c-check" name="rememberme">
                                        <label for="login-rememberme" class="c-font-thin c-font-17">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Remember Me </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
                                    <a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">Forgot Your Password ?</a>
                                </div>
                                <div class="clearfix">
                                    <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                                        <span style="width: 110px">or signup with</span>
                                    </div>
                                    <ul class="c-content-list-adjusted">
                                        <!--
                                        <li>
                                            <a class="btn btn-block c-btn-square btn-social btn-twitter">
                                                <i class="fa fa-twitter"></i> Twitter </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-block c-btn-square btn-social btn-facebook">
                                                <i class="fa fa-facebook"></i> Facebook </a>
                                        </li>
                                        -->
                                        <li>
                                            <a class="btn btn-block c-btn-square btn-social btn-google" href="/google">
                                                <i class="fa fa-google"></i> Google </a>
                                        </li>
                                        <!--
                                        <br>
                                        <li>
                                            <a class="btn btn-block c-btn-square btn-social btn-researchgate">
                                                <i class="fa fa-researchgate"></i> RedearchGate </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-block c-btn-square btn-social btn-linkedin">
                                                <i class="fa fa-linkedin"></i> Linkedin </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-block c-btn-square btn-social btn-orcid">
                                                <i class="fa fa-orcid"></i> ORCID </a>
                                        </li>
                                        -->
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer c-no-border">
                            <span class="c-text-account">Don't Have An Account Yet ?</span>
                            <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/USER/LOGIN-FORM -->
            <!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
            <nav class="c-layout-quick-sidebar">
                <div class="c-header">
                    <button type="button" class="c-link c-close">
                    <i class="icon-login"></i>
                    </button>
                </div>
                <div class="c-content">
                    <div class="c-section">
                        <h3>Theme Colors</h3>
                        <div class="c-settings">
                            <span class="c-color c-default c-active" data-color="default"></span>
                            <span class="c-color c-green1" data-color="green1"></span>
                            <span class="c-color c-green2" data-color="green2"></span>
                            <span class="c-color c-green3" data-color="green3"></span>
                            <span class="c-color c-yellow1" data-color="yellow1"></span>
                            <span class="c-color c-yellow2" data-color="yellow2"></span>
                            <span class="c-color c-yellow3" data-color="yellow3"></span>
                            <span class="c-color c-red1" data-color="red1"></span>
                            <span class="c-color c-red2" data-color="red2"></span>
                            <span class="c-color c-red3" data-color="red3"></span>
                            <span class="c-color c-purple1" data-color="purple1"></span>
                            <span class="c-color c-purple2" data-color="purple2"></span>
                            <span class="c-color c-purple3" data-color="purple3"></span>
                            <span class="c-color c-blue1" data-color="blue1"></span>
                            <span class="c-color c-blue2" data-color="blue2"></span>
                            <span class="c-color c-blue3" data-color="blue3"></span>
                            <span class="c-color c-brown1" data-color="brown1"></span>
                            <span class="c-color c-brown2" data-color="brown2"></span>
                            <span class="c-color c-brown3" data-color="brown3"></span>
                            <span class="c-color c-dark1" data-color="dark1"></span>
                            <span class="c-color c-dark2" data-color="dark2"></span>
                            <span class="c-color c-dark3" data-color="dark3"></span>
                        </div>
                    </div>
                    <div class="c-section">
                        <h3>Header Type</h3>
                        <div class="c-settings">
                            <input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="boxed" value="boxed" />
                            <input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="fluid" value="fluid" />
                        </div>
                    </div>
                    <div class="c-section">
                        <h3>Header Mode</h3>
                        <div class="c-settings">
                            <input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="fixed" value="fixed" />
                            <input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="static" value="static" />
                        </div>
                    </div>
                    <div class="c-section">
                        <h3>Mega Menu Style</h3>
                        <div class="c-settings">
                            <input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="dark" value="dark" />
                            <input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light" />
                        </div>
                    </div>
                    <div class="c-section">
                        <h3>Font Style</h3>
                        <div class="c-settings">
                            <input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="default" value="default" />
                            <input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light" />
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->